@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #e85931;
  --secondary-color: #0f0b0a;
  --teritatry-color: #f1f1f1;

  --primary-font: "NeueMachina";
  --secondary-font: "Monoska";

  --border-radius: 30px;

  --vertical-section-offset: 200px;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: var(--secondary-color);
  color: var(--teritatry-color);
  overflow-x: hidden;

  font-family: "Neue Machina", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 15px;
}

@layer components {
  .wrapper {
    @apply container mx-auto max-w-7xl px-8;
  }

  .btn,
  .nav__link {
    @apply text-black bg-white font-thin uppercase px-6 py-2 rounded-full shadow-sm border-none transition-all hover:opacity-85 hover:scale-95;
  }

  .btn-dark {
    @apply text-[var(--teritary-color)] bg-[var(--secondary-color)];
  }

  .heading {
    @apply font-['Monoska'] text-4xl lg:text-6xl text-center max-w-4xl pb-8;
  }

  .nav__link {
    @apply bg-transparent text-white;
  }

  .hero__texture {
    @apply bg-[url('/hero__texture.png')] bg-cover bg-center overflow-hidden;
  }

  .input__field {
    @apply flex-1 p-2 px-4 border-[1px] text-gray-100 bg-transparent rounded-full shadow-sm;
  }
}
